body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

.conteiner {
    text-align: center;
}

header {
    padding: 10px;
}

#tabuleiro {
    width: 700px;
    height: 500px;
    background-color: black;
    border: 2px solid white;
    margin: 20px auto;
    position: relative;
}

.cobra {
    width: 20px;
    height: 20px;
    background-color: green;
    position: absolute;
}

#comida {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
}

#placar {
    font-size: 20px;
}

.obstaculo {
    width: 12px;
    height: 12px;
    background-color: white;
    border: 4px solid lightgray;
    position: absolute;
}

button {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
}

button:hover {
    background-color: lightgray;
}

footer {
    margin-top: 20px;
}