@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #0f1f14;
    color:white;
}

h1, button, #placar, #status {
    font-family: "Press Start 2P", cursive;
}

.conteiner {
    text-align: center;
}

header {
    padding: 10px;
}

#tabuleiro {
    width: 700px;
    height: 500px;
    background-color: black;
    border: 3px solid #016601;
    border-radius: 8px;
    margin: 20px auto;
    position: relative;
}

.cobra {
    width: 20px;
    height: 20px;
    background-color: #00ff00;
    border: 3px solid #009600;
    box-sizing: border-box;
    border-radius: 4px;
    position: absolute;
}

.cabeca {
    border-radius: px;
}

#comida {
    width: 20px;
    height: 20px;
    background-color: red;
    border: 3px solid darkred;
    border-radius: 45%;
    box-sizing: border-box;
    position: absolute;
}

#placar {
    font-size: 20px;
}

.obstaculo {
    width: 12px;
    height: 12px;
    background-color: white;
    border: 4px solid lightgray;
    border-radius: 3px;
    position: absolute;
}

button {
    background-color: white;
    color: black;
    cursor: pointer;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
}

button:hover {
    background-color: lightgray;
}

footer {
    margin-top: 50px;
    padding: 15px;
    background-color: #1d2c21;
    color: #b8c9bc;
}